/* -------MOBILE--------- */
@media screen and (max-width: 1000px) {
  .container {
    max-width: unset;
  }
}
@media screen and (max-width: 750px) {
  .navbar__icon {
    display: inline-block;
  }
  .navbar__link {
    display: none;
  }
  .hero__heading {
    font-size: 45px;
  }
  .companies__logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 1fr 1fr; */
    gap: 20px;
  }
  .companies__logo {
    flex-basis: 35%;
  }
  .companies__logo:nth-child(2) {
    display: block;
    width: 132px;
  }
  .companies__logo:first-child,
  .companies__logo:nth-child(5) {
    display: none;
  }
  .showcase__cards-container {
    grid-template-columns: 1fr 1fr;
  }
  .footer__top {
    flex-direction: column;
    gap: 30px;
  }
  .footer__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .container {
    padding-right: 0;
  }
  .section {
    padding-bottom: 45px;
  }
  .header {
    padding: 35px 20px;
  }
  .hero .container {
    padding-right: 0;
  }
  .hero__left {
    padding-top: 30px;
  }
  .hero__heading {
    width: auto;
  }

  .hero__text {
    width: auto;
  }
  .hero__image-container {
    width: 175px;
    height: 250px;
    background-position: 95px top;
  }
  .banner .container {
    padding: 0;
  }
  .showcase__cards-container {
    display: inline-block;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  }

  .upsell__right {
    display: flex;
    align-items: flex-end;
  }
  .upsell_right__image-container {
    height: 75%;
    background-size: cover;
  }
  .launch-container {
    display: none;
  }
}
