* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;
}
